<!-- Test -->
<div *ngIf="currentUser$ | async as user" (click)="logout()">
  {{ user.username }}
</div>

<form class="auth" 
      *ngIf="isLoginMode"
      [formGroup]="formIn"
      (ngSubmit)="submitForm()">
  <h2>Sign in</h2>
 
  <div>
    <input formControlName="login" type="text" placeholder="Login">
    <span *ngIf="hasError(login, 'required')">email is not valid</span>
  </div>

  <div>
    <input formControlName="passwordIn" type="password" placeholder="Password">
    <span *ngIf="hasError(passwordIn, 'required')">email is not valid</span>
  </div>
  

  <span>Forgot password?</span>

  <button type="submit">
    Sign in
  </button>

  <button type="button" (click)="changeLoginMode()">
    Registration
  </button>

  <ul class="auth__social">
    <li>Sign in with a social network</li>
    <li>Facebook</li>
    <li>Google</li>
  </ul>
</form>

<form class="auth" 
      *ngIf="!isLoginMode"
      [formGroup]="formUp"
      (ngSubmit)="submitForm()">
  <h2>Registration</h2>
  
  <div>
    <input formControlName="email" type="text" placeholder="Your email">
    <span *ngIf="hasError(email, 'required')">email is required</span>
    <span *ngIf="hasError(email, 'email')">email is not valid</span>
  </div>

  <div>
    <input formControlName="passwordUp" type="password" placeholder="Password">
    <span *ngIf="hasError(passwordUp, 'required')">password is required</span>
    <span *ngIf="hasError(passwordUp, 'minlength')">must be at least 8 characters! </span>
    <span *ngIf="hasError(passwordUp, 'hasNumber')">must contain at least 1 number</span>
    <span *ngIf="hasError(passwordUp, 'hasCapitalCase')">must contain at least 1 Capital Case!</span>
    <span *ngIf="hasError(passwordUp, 'hasSmallCase')">must contain at least 1 Letter is Small Case!</span> 
  </div>

  <div>
    <input formControlName="repeatedPassword" type="password" placeholder="Repeat your password">
    <span *ngIf="hasError(repeatedPassword, 'required')">must not be empty</span>
    <span *ngIf="hasError(repeatedPassword, 'NoPassswordMatch')">passwords do not match</span>
  </div>

  <button type="submit">
    Register
  </button>

  <button type="button" (click)="changeLoginMode()">
    Return to sign in
  </button>
</form>


