// FONTS
$font-roboto: 'Roboto', sans-serif;
$default-font-size: 1.6rem;
$default-line-height: 150%;
$default-font-weight: 400;

// COLORS
$white: #fff;
$black: #000;

$gray: #4f4f4f;
$gray-1: #222222;
$gray-2: #f8f8f8;

$container: 129rem;

// BOX SHADOW
// $shadow: 

// BORDER RADIUS
// $radius: 

// TRANSITIONS
$transition: all 0.5s;